In [ ]:
#Import Pandas library
import pandas as pd

# Read the files

In [7]:
ratings = pd.read_csv(r'C:\Raju\DataScience_AIML\Naresh_IT\Documents\Python_Code\08282024\archive\rating.csv')

In [8]:
ratings.shape

(20000263, 4)

In [39]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [43]:
print(ratings.columns)

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

#For current analysis, we will remove timestamp

In [47]:
del ratings['timestamp']

KeyError: 'timestamp'

In [49]:
print(ratings.columns)

Index(['userId', 'movieId', 'rating'], dtype='object')

In [11]:
movies = pd.read_csv(r'C:\Raju\DataScience_AIML\Naresh_IT\Documents\Python_Code\08282024\archive\movie.csv')

In [13]:
movies.shape

(27278, 3)

In [33]:
print(type(movies))
movies.head(20)

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [41]:
print(movies.columns)

Index(['movieId', 'title', 'genres'], dtype='object')

In [15]:
tag = pd.read_csv(r'C:\Raju\DataScience_AIML\Naresh_IT\Documents\Python_Code\08282024\archive\tag.csv')

In [17]:
tag.shape

(465564, 4)

In [37]:
tag.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [55]:
row_0 = tag.iloc[1]
type(row_0)

pandas.core.series.Series

In [59]:
print(row_0)

userId                        65
movieId                      208
tag                    dark hero
timestamp    2013-05-10 01:41:18
Name: 1, dtype: object

In [ ]:
del tag['timestamp']

In [19]:
genome_tags = pd.read_csv(r'C:\Raju\DataScience_AIML\Naresh_IT\Documents\Python_Code\08282024\archive\genome_tags.csv')

In [23]:
genome_tags.shape

(1128, 2)

In [21]:
genome_scores = pd.read_csv(r'C:\Raju\DataScience_AIML\Naresh_IT\Documents\Python_Code\08282024\archive\genome_scores.csv')

In [27]:
genome_scores.shape

(11709768, 3)

In [29]:
link = pd.read_csv(r'C:\Raju\DataScience_AIML\Naresh_IT\Documents\Python_Code\08282024\archive\link.csv')

In [31]:
link.shape

(27278, 3)